<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Login - Medishop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sellers/css/auth/seller_login.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h2>Seller Login</h2>
        <form action="{{ url_for('seller_auth.login') }}" method="POST">
            <label>Email or Phone Number</label>
            <input type="text" name="identifier" placeholder="Enter email or phone number" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p>Not registered yet? <a href="{{ url_for('seller_auth.register') }}">Register as a seller</a></p>
        <p>Forget your password? <a href="">Change password</a></p>
    </div>
</body>
</html>
